/*slide*/
#slideshow {
    margin:0 auto;
    width:962px;
    height:434px;
    position:relative;
}
#slideshow #slidesContainer {
    margin:0 auto;
    width:962px;
    height:434px;
    overflow:auto; /* allow scrollbar */
    position:relative;
    background-repeat: repeat;
}
#slideshow #slidesContainer .slide {
    margin:0 auto;
    width:962px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
    height:434px;
}/** * Slideshow controls style rules. */
.control {
    display:block;
    width:39px;
    height:263px;
    text-indent:-10000px;
    position:absolute;
    cursor: pointer;
}
#leftControl {
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 20px;
    width: 47px;
    height: 434px;
    cursor: pointer;
    background: transparent url("../img/titu-prev.png") no-repeat center center;
}
#rightControl {
    z-index: 20;
    position: absolute;
    top: 0px;
    right: 20px;
    width: 47px;
    height: 434px;
    cursor: pointer;
    background: transparent url("../img/titu-next.png") no-repeat center center;
}