@import "reset.css";

@linkblue:#1F82E1;
@linkgrey:#848484;
@fontwhite:#FAFAFA;
@bluebg:#01a8d2;
@redbg:#E8534F;
@greenbg:#0AB371;
@yellowbg:#EAB646;
@yaheifamily:"Microsoft Yahei",'Arial';

body {
	font-family: @yaheifamily;
	vertical-align: baseline;
	a{
		text-decoration: none;
		&:hover,&:focus,&:active{
			color: @linkblue;
		}
	}
	.fixer{
		display: none;
		background: url("../img/index-focus-bg.png") 0 0 repeat-x;
	}
	.tip{
		display: none;
		width: 100%;
		height: 138px;
		background: url("../img/tip.png") center 0 no-repeat; 
	}
}

.clearfix{
	&:before,
  	&:after {
  	  content: " ";
  	  display: table;
  	}
  	&:after {
  	  clear: both;
  	}
}
.hide{
	display: none;
}
.errorHint{
	color: #cc0000;
}
.container{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 1280px;
}
.header{
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 1280px;
	background: url("../img/logo-baidu.png") 50px 20px no-repeat;
	ul{
		padding-top: 40px;
		padding-left: 550px;
		li{
			height: 60px;
			width: 120px;
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			list-style: none;
			display: inline-block;
			text-align: center;
			margin-right: 20px;
			a{
				color: @linkgrey;
				text-decoration: none;
				&.active,&:hover{
					color:@linkblue;
				}
			}
			&.active{
				background: url("../img/header-ac.png") 0 bottom repeat-x;
			}
		}
		li{
			*display: inline;
		}
	}
}
.section{
	display: block;
	min-width: 1280px;
}

.container{
	padding-top: 60px;
}
.mid-container{
	width: 968px;
	margin: 0 auto 0 auto;
	.clearfix;
}
#cover{
	height: 706px;
	background:#2c3438 url("../img/bg.jpg") center center no-repeat;

	.title1{
		padding: 0;
		background: url("../img/logo.png") center 0 no-repeat;
		width: 400px;
		height: 50px;
		padding-top: 135px;
		margin: 0 auto 55px auto;
		color:@fontwhite;
		h1{
			width: 400px;
			margin: 0 auto 18px auto;
			text-align: center;
			display: block;
			font-size: 46px;
			font-weight: bold;
			line-height: 50px;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
		}
		h3{
			width: 400px;
			text-align: center;
			display: block;
			line-height: 25px;
			margin: 0 auto 30px auto;
			font-size: 22px;
			color: #FFD143;
			font-weight: bold;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
		}
		h5{
			font-size: 16px;
			line-height: 28px;
			font-weight: normal;
		}
	}
	.title2{
		width: 968px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		.clearfix;
		.op4{
			opacity: 0.7;
			font-size: 18px;
		}
		.t2l{
			display: inline-block;
			width: 500px;
			margin-right: 115px;
			float: left;
			p{
				font-size: 16px;
				color: white;
				line-height: 26px;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
				margin-bottom: 15px;
				&.p-1{
					margin-bottom: 10px;
				}
				&.p-2{
					font-size: 24px;
					margin-bottom: 40px;
				}
				.cc1{
					font-size: 30px;
					color: #58d4f3;
				}
				.cc2{
					font-size: 30px;
					color: #fea2a0;
				}
				.cc3{
					font-size: 30px;
					color: #fac851;
				}
				.cc4{
					font-size: 30px;
					color: #FFD143;
				}
			}
		}
		.t2l{
			*display: inline;
		}
		.t2r{
			display: inline-block;
			width: 350px;
			float: left;
			p{
				font-size: 16px;
				color: white;
				line-height: 26px;
			}
		}
		.t2r{
			*display: inline;
		}
		.t2l .t2-title,
		.t2r .t2-title{
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 4px;
		}
	}
	.detail{
		text-align: center;
		width: 968px;
		margin: 0 auto 0 auto;
		color: white;
		font-size: 20px;
		// font-weight: bold;
		line-height: 26px;
		hr{
			margin-top: 10px;
			margin-bottom: 28px;
			border-top:1px solid #cccccc;;
		}
		.f24{
			font-size: 24px;
			font-weight: bold;
		}
		.f36{
			font-size: 36px;
			font-weight: bold;
		}
		.left{
			width: 460px;
			margin-right: 50px;
		}
		.right{
			width: 460px;
			.quto1,.quto2{
				display: inline-block;
				width: 38px;
				height: 38px;
				background: url("../img/quto1.png") 0 0 no-repeat;
			}
			.quto1,.quto2{
				*display: inline;
			}
			.quto2{
				background: url("../img/quto2.png") 0 0 no-repeat;
			}
		}
		.next{
			display: inline-block;
			position: relative;
			top: 8px;
			width: 38px;
			height: 38px;
			background: url("../img/next.png") 0 0 no-repeat;
		}
		.next{
			*display: inline;
		}
		a{
			color: white;
			text-decoration: none;
			&:hover{
				color: @linkblue;
			}
		}
	}
	.primary{
		height: 75px;
		a#pr-btn{
			display: block;
			background: url("../img/btn.png") 0 0 no-repeat;
			width: 194px;
			height: 76px;
			margin: 0 auto 0 auto;
			&:hover{
				background: url("../img/btn-hover.png") 0 0 no-repeat;
			}
		}
	}
}
.section{
	.title{
		height: 60px;
		//background: url("../img/quto1.png") 0 0 no-repeat;
		.clearfix;
	}
	.title1{
		color: white;
		height: 40px;
		padding:20px 0 0 35px;
		font-weight: bold;
		font-size: 26px;
	}
}

#focus{
	background-color:@bluebg; 
	height: 1400px;
	.container{
		padding-top: 30px;
		background: url("../img/focus-icon.png") 70px 40px no-repeat;
	}
	.title1{
		//background: url("../img/quto2.png") 140px 0 no-repeat;
	}
	.frame{
		background-color: white;
		border-radius: 5px;
		div.image{
			display: block;
			float: left;
			width: 630px;
			height: 434px;
			overflow: hidden;
			img{
				width: 630px;
				border: 0px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
		}
		.content{
			background-color: white;
			display: block;
			float: left;
			width: 294px;
			height: 228px;
			overflow: hidden;
			padding: 20px;
			h3{
				font-size: 20px;
				line-height: 20px;
				margin-bottom: 20px;
				font-weight: bold;
				color: @linkblue;
			}
			p{
				color:#6c6c6c;
				font-size: 12px;
				line-height: 20px;
				&.mr20{
					margin-top: 20px;
				}
				.s{
					font-weight: bold;
				}
				.cc5{
					color: red;
				}
			}
		}
		.status{
			background-color: white;
			display: block;
			float: left;
			width: 294px;
			padding: 10px 20px 0 20px;
			.tag{
				width: 100%;
				height: 62px;
				background-color: @linkblue;
				padding-top: 10px;
				color:white;
				border-radius: 3px;
				a.taga{
					background-color: clear;
				}
				.tgtext{
					float: left;
					width: 250px;
					.p60{
						width: 80px;
						display: inline-block;
						overflow: hidden;
					}
					.p60{
						*display: inline;
					}
				}
				.tgtext2l{
					p{
                	    font-size: 14px;
                	    margin: 0 0 8px 25px;
                	    line-height: 20px;
                	    color: white;
                	    overflow: hidden;
                	    .f24{
                	            font-size:20px;
                	            font-weight: bold;;
                	    }
                	}
				}
				.tgtext1l{
					p{
						font-size: 14px;
						margin: 15px 0 8px 25px;
						line-height: 20px;
						color: white;
						.f24{
							font-size:30px;
							font-weight: bold;;
						}
					}
				}

				.next{
					background: url("../img/next.png") 0 8px no-repeat;
					width: 38px;
					height: 50px;
					float: left;
					a{
						width: 25px;
						height: 48px;
						display: block;
						cursor: pointer;
					}
				}
			}
			.tail{
				width: 100%;
				height: 6px;
				margin-bottom: 5px;
				background: url("../img/blue-tail.png") 85px 0 no-repeat;
			}
			.line{
				width: 100%;
				height: 26px;
				overflow: hidden;
				.stage1,.stage{
					cursor: pointer;
					float: left;
					display: block;
					width: 26px;
					height: 26px;
					background-repeat: repeat-x;
					background-position: 0 0;
				}
				.stage1{
					background-image: url("../img/tu_01.png");
					&.active{
						background-image: url("../img/tu_03.png");
					}
				}
				.stage{
					background-image: url("../img/tu_05.png");
					&.active{
						background-image: url("../img/tu_03.png");
					}
					&.unactive{
						background-image: url("../img/tu_07.png");
					}
				}
				.seg{
					display: block;
					float: left;
					height: 26px;
					width: 47px;
					background-repeat: repeat-x;
					background-position: 0 0;
					background-image: url("../img/tu_02.png"); 
					&.unactive{
						background-image: url("../img/tu_04.png"); 
					}
				}
				.clearfix;
			}
			.segtext{
				height: 25px;
				padding-top: 10px;
				.seg-t{
					float: left;
					width: 80px;
					font-size: 12px;
					color: @linkblue;
					position: relative;
					&#st2{
						left: 46px;
						text-align: center;
					}
					&#st3{
						left: 120px;
						text-align: center;
					}
					&#st4{
						left: 50px+145px;
						text-align: center;
					}
					p{
						margin-bottom: 5px;
					}
				}
				.clearfix;
			}
		}
		.clearfix;
	}

	hr{
		height: 0px;
		border-bottom: solid 1px #42B7D4;
		margin: 24px 0 70px;
	}

	.frame-left{
		float: left;
		width: 630px;
		height: 620px;
		border-radius: 5px;
		margin-bottom: 100px;
		.clearfix;
		.image{
			width: 630px;
			height: 430px;
			overflow: hidden;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		.content{
			background-color: white;
			float: left;
			padding: 20px;
			width: 630px-40px;
			height: 190px-40px;
			overflow: hidden;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			.clearfix;
			.content-text{
				float: left;
				width: 270px;
				h3{
					font-size: 20px;
					line-height: 20px;
					margin-bottom: 20px;
					font-weight: bold;
					color: @linkblue;
				}
				p{
					color:#6c6c6c;
					font-size: 12px;
					line-height: 18px;
					&.mr20{
						margin-top: 12px;
					}
					.s{
						font-weight: bold;
					}
					.cc5{
						color: red;
					}
				}
			}
	
			.status2{
				float: left;
				background-color: white;
				display: block;
				float: left;
				width: 294px;
				padding: 10px 0px 0 20px;
				.tag2{
					width: 100%;
					height: 62px;
					background-color: @linkblue;
					padding-top: 10px;
					color:white;
					border-radius: 3px;
					a.taga2{
						background-color: clear;
					}
					.tgtext2{
						float: left;
						width: 250px;
						.p60{
							width: 80px;
							display: inline-block;
							overflow: hidden;
						}
						.p60{
							*display: inline;
						}
					}
					.tgtext2l{
						p{
	                	    font-size: 14px;
	                	    margin: 0 0 8px 25px;
	                	    line-height: 20px;
	                	    color: white;
	                	    overflow: hidden;
	                	    .f24{
	                	            font-size:20px;
	                	            font-weight: bold;;
	                	    }
	                	}
					}
					.tgtext1l{
						p{
							font-size: 14px;
							margin: 15px 0 8px 25px;
							line-height: 20px;
							color: white;
							.f24{
								font-size:30px;
								font-weight: bold;;
							}
						}
					}
	
					.next{
						background: url("../img/next.png") 0 8px no-repeat;
						width: 38px;
						height: 50px;
						float: left;
						a{
							width: 25px;
							height: 48px;
							display: block;
							cursor: pointer;
						}
					}
				}
				.tail2{
					width: 100%;
					height: 6px;
					margin-bottom: 5px;
					background: url("../img/blue-tail.png") 85px 0 no-repeat;
				}
				.line2{
					width: 100%;
					height: 26px;
					overflow: hidden;
					.stage3,.stage2{
						cursor: pointer;
						float: left;
						display: block;
						width: 26px;
						height: 26px;
						background-repeat: repeat-x;
						background-position: 0 0;
					}
					.stage3{
						background-image: url("../img/tu_01.png");
						&.active{
							background-image: url("../img/tu_03.png");
						}
					}
					.stage2{
						background-image: url("../img/tu_05.png");
						&.active{
							background-image: url("../img/tu_03.png");
						}
						&.unactive{
							background-image: url("../img/tu_07.png");
						}
					}
					.seg2{
						display: block;
						float: left;
						height: 26px;
						width: 47px;
						background-repeat: repeat-x;
						background-position: 0 0;
						background-image: url("../img/tu_02.png"); 
						&.unactive{
							background-image: url("../img/tu_04.png"); 
						}
					}
					.clearfix;
				}
				.segtext2{
					height: 25px;
					padding-top: 10px;
					.seg-t2{
						float: left;
						width: 80px;
						font-size: 12px;
						color: @linkblue;
						position: relative;
						&#st2{
							left: 46px;
							text-align: center;
						}
						&#st3{
							left: 120px;
							text-align: center;
						}
						&#st4{
							left: 50px+145px;
							text-align: center;
						}
						p{
							margin-bottom: 5px;
						}
					}
					.clearfix;
				}
			}
		}
	}

	.frame-right{
			float: left;
			width: 316px;
			height: 300px;
			margin: 0 0 20px 20px;
			color: #6c6c6c;
			background-color: white;
			font-size: 12px;
			border-radius: 5px;
			a,a:hover{
				text-decoration: none;
			}
			img{
				width: 316px;
				height: 186px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				overflow: hidden;
			}
			.f-tl{
				color: #1F82E1;
				font-size: 20px;
				font-weight: bold;
				padding: 10px 20px 10px 20px;
			}
			.f-desc{
				color: #6c6c6c;
				line-height: 18px;
				padding: 0 20px 2px 20px;
				height: 40px;
				overflow: hidden;
				.cl7{
					font-weight: bold;
				}
			}
			.f-green{
				line-height: 20px;
				color: #1F82E1;
				padding: 0 20px 5px 20px;
				.clearfix;
				.g-left{
					height: 20px;
					padding-top: 3px;
					vertical-align: bottom;
					float: left;
				}
				.g-right{
					height: 23px;
					vertical-align: bottom;
					float: right;
					.cl23{
						font-size: 20px;
						font-weight: bold;
					}
				}
			}
		}

}
#finish{
	height: 632px;
	background-color: #11954c;
	.container{
		padding-top: 80px;
		background: url("../img/finish-icon.png") 70px 80px no-repeat;
	}
	.frame{
		a,a:hover{
			text-decoration: none;
		}
		.clearfix;
		.fin{
			float: left;
			width: 306px;
			height: 452px;
			margin-right: 24px;
			color: #6c6c6c;
			background-color: white;
			font-size: 12px;
			border-radius: 5px;
			img{
				width: 306px;
				height: 210px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				overflow: hidden;
			}
			.fin-tl{
				color: #11954c;
				font-size: 20px;
				font-weight: bold;
				text-align: center;
				padding: 15px 20px 16px 20px;
			}
			.fin-desc,
			.fin-org,
			.fin-hsptl{
				color: #6c6c6c;
				line-height: 18px;
				padding: 0 20px 10px 20px;
				height: 40px;
				overflow: hidden;
				.cl7{
					font-weight: bold;
				}
			}
			.fin-hsptl{
				height: 20px;
			}
			.fin-green{
				line-height: 20px;
				color: #11954c;
				padding: 0 20px 5px 20px;
				.clearfix;
				.g-left{
					float: left;
				}
				.g-right{
					float: right;
				}
			}
			.fin-black{
				line-height: 20px;
				color: #3b3b3b;
				font-weight: bold;
				padding: 0 20px 0 20px;
				font-size: 20px;
				.clearfix;
				.b-left{
					float: left;
				}
				.b-right{
					float: right;
				}
			}
		}
		.lastfin{
			margin-right: 0;
		}
	}

}


#info{
	height: 646px;
	background-color: #EAB646;
	.clearfix;
	.container{
		padding-top: 80px;
		background: url("../img/info-icon.png") 70px 80px no-repeat;
	}
	.frame{
		.clearfix;
		.info{
			width: 306px;
			height: 212px;
			margin-right: 24px;
			margin-bottom: 34px;
			float: left;
			border-radius: 5px;
			img{
				border-radius: 5px;
				width: 306px;
				height: 212px;
				position: absolute;
				z-index: 0;
			}
			.info-tl{
				position: absolute;
				z-index: 20;
				font-size: 16px;
				font-weight: bold;
				width: 306px-40px;
				height: 212px-200px;
				padding: 180px 20px 20px 20px;
				color: white;
				background: url("../img/index-mask-b.png") 0 3px no-repeat;
			}
			.info-ct{
				position: absolute;
				z-index: 10;
				width: 306px-40px;
				height: 212px-40px;
				padding: 20px;
				font-size: 12px;
				line-height: 18px;
				color: white;
				background: url("../img/index-mask.png") 0 0px no-repeat;
			}
		}
		.lastinfo{
			margin-right: 0px;
		}
	}
}

a.seemore,
a.seemore:hover{
	font-size: 22px;
	font-weight: normal;
	color: white;
	text-decoration: none;
	float: right;
	width: 50px;
	padding-top: 5px;
	padding-left: 26px;
	display: block;
}


#union{
	@l:268px;
	@s:128px;
	@p:12px;
	background-color: @redbg;
	height: 800px;
	.container{
		padding-top: 80px;
		background: url("../img/union-icon.png") 70px 80px no-repeat;
	}
	.title1{
		//background: url("../img/quto2.png") 190px 0 no-repeat;
		a.seeall{
			background: url("../img/next2.png") 110px 0px no-repeat;
			font-size: 22px;
			font-weight: normal;
			color: white;
			text-decoration: none;
			float: right;
			width: 120px;
			height: 50px;
			padding-top: 5px;
			padding-left: 26px;
			display: block;
		}
	}
	.face-frame{
		background-color: white;
		border-radius: 5px;
		height: @l*2+@s+@p*3;
		background-color: @redbg;
		.clearfix;
		ul{
			position: relative;
			list-style: none;
			li,.face{
				background-color: white;
				display: list-item;
				position: absolute;
				overflow: hidden;
				&.face2{
					height: 268px;
					width: 268px;
					img{
						height: 268px;
						width: 268px;
					}		
				}
				&.face1{
					height: 128px;
					width: 128px;
					img{
						width: 128px;
						height: 128px;
					}
				}
				&.facew{
					height: 128px;
					width: 268px;
					img{
						width: 268px;
						height: 128px;
					}
				}
				&#f1{
					left: 0;
					top: 0;
					img{
						border-top-left-radius: 5px;
					}
				}
				&#f2{
					left: @l+@p;
					top: 0;
				}
				&#f3{
					left: @l+@p*2+@s;
					top: 0;
				}
				&#f4{
					left: @l+@p*3+@s*2;
					top: 0;
				}
				&#f5{
					left: @l+@p*4+@s*3;
					top: 0;
					img{
						border-top-right-radius: 5px;
					}
				}
				&#f6{
					left: @l+@p;
					top: @s+@p;
				}
				&#f7{
					left: @l+@p*2+@s;
					top: @s+@p;
				}
				&#f8{
					left: @l*2+@p*3+@s;
					top: @s+@p;
				}
				&#f9{
					left: 0;
					top: @l+@p;
					img{
						border-bottom-left-radius: 5px;
					}
				}
				&#f10{
					left: @l+@p;
					top: @l+@p;
				}
				&#f11{
					left: @l*2+@p*3+@s*1;
					top: @l+@p;
				}
				&#f12{
					left: @l+@p;
					top: @l+@s+@p*2;
				}
				&#f13{
					left: @l+@p*2+@s;
					top: @l+@s+@p*2;
				}
				&#f14{
					left: @l*2+@p*3+@s;
					top: @l+@s+@p*2;
					img{
						border-bottom-right-radius: 5px;
					}
				}
				&#f15{
					left: 0;
					top: @l*2+@p*2;
				}
				&#f16{
					left: @s+@p;
					top: @l*2+@p*2;
				}
				&#f17{
					left: @s*2+@p*2;
					top: @l*2+@p*2;
				}
				&#f18{
					left: @s*2+@p*3+@l;
					top: @l*2+@p*2;
				}
				&#f19{
					left: @s*3+@p*4+@l;
					top: @l*2+@p*2;
				}
			}
		}
		
	}
}

#footer{
	background-color: #2E2F33;
	height: 60px;
	padding-top: 40px;
	p{
		line-height: 20px;
		margin: 0 auto 0 auto;
		text-align: center;
		font-size: 14px;
		color: #666666;
		a{
			color: #666666;
			text-decoration: none;
			&:hover,&:active{
				color: @linkblue;
			}
		}
	}
}

#nav{
	display: none;
	width: 670px;
	height: 70px;
	.clearfix;
	.nav-lp{
		float: left;
		height: 100%;
		width: 470px;
		background:url("../img/nav-left.png") 0 0 no-repeat;
	}
	.nav-rp{
		float: left;
		height: 100%;
		width: 190px;
		background:url("../img/nav-right.png") 0 0 no-repeat;
		a{
			width: 188px;
			height: 68px;
			display: block;
			cursor: pointer;
		}
	}
	ul{
		list-style: none;
		li{
			display: inline-block;
			width: 90px;
			a{
				text-align: center;
				margin: 5px;
				text-decoration: none;
				display: block;
				font-size: 12px;
				color: #B8BEC0;
				line-height: 20px;
				height: 20px;
				padding-top: 40px;
				font-weight: bold;
				&#ftop{
					background: url("../img/i-top.png") center 3px no-repeat;
					&:hover,&.active{
						background: url("../img/i-top-a.png") center 3px no-repeat;
						color: white;
					}
				}
				&#ffocus{
					background: url("../img/i-focus.png") center 3px no-repeat;
					&:hover,&.active{
						background: @bluebg url("../img/i-focus-a.png") center 3px no-repeat;
						color: white;
					}
				}
				&#ffinish{
					background: url("../img/i-finish.png") center 3px no-repeat;
					&:hover,&.active{
						background: @greenbg url("../img/i-finish-a.png") center 3px no-repeat;
						color: white;
					}
				}
				&#finfo{
					background: url("../img/i-info.png") center 3px no-repeat;
					&:hover,&.active{
						background: @yellowbg url("../img/i-info-a.png") center 3px no-repeat;
						color: white;
					}
				}
				&#funion{
					&:hover,&.active{
						background: @redbg url("../img/i-union-a.png") center 3px no-repeat;
						color: white;
					}
					background: url("../img/i-union.png") center 3px no-repeat;
				}
			}

		}
		li{
			*display: inline;
		}
	}
}

#help-form{
	width: 560px;
	.clearfix;
	.col-xs-3{
		float: left;
		display: inline-block;
		width: 145px;
		padding-left: 15px;
		padding-right: 0;
	}
	.col-xs-3{
		*display: inline;
	}
	.col-xs-4{
		float: left;
		display: inline-block;
		width: 160px;
		margin-right: 18px;
	}
	.col-xs-4{
		*display: inline;
	}
	.col-sm-10{
		float: left;
		display: inline-block;
		width: 450px;
	}
	.col-sm-10{
		*display: inline;
	}
	.label-1,.label-2{
		padding-top: 5px;
		text-align: right;
		width: 70px;
		height: 25px;
		display: inline-block;
		float: left;
	}
	.label-1,.label-2{
		*display: inline;
	}
	.ygroup{
		width: 560px;
		float:left;
		margin-bottom: 20px;
		select{
			width: 140px;
		}
		.longinput{
			width: 450px;
		}
		textarea{
			width: 450px;
		}
	}
	label{
		color: #666666;
		font-size: 14px;
	}
	.pull-center{
		width: 560px;
		float: left;
	}
	.send-help{
		border: 0;
		width: 200px;
		height: 38px;
		margin-right: auto;
		margin-left: auto;
		background: url("../img/help-btn.png") 0 0 no-repeat;
		&:hover{
			background: url("../img/help-btn-p.png") 0 0 no-repeat;
		}
	}
	.pull-center{
		text-align: center;
	}
	.cred{
		color: red;
	}
}

#page-focus{
	background-color: #F2F2F2;
	min-width: 1280px;
	.fcontainer{
		margin-right: auto;
		margin-left: auto;
		padding-top: 60px;
		width: 962px;
		.clearfix;
		.frame{
			background: white;
			width: 100%;
			height: 434px;
			border-radius: 5px;
			border: 1px solid #ddd;
			margin-bottom: 22px;
			div.image{
				display: block;
				float: left;
				width: 630px;
				height: 100%;
				overflow: hidden;
				img{
					border: 0px;
					width: 630px;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
			}
			.content{
				display: block;
				float: left;
				width: 292px;
				height: 434px;
				overflow: hidden;
				padding: 20px;
				.up-content{
					height: 434px;
					overflow: hidden;
				}
				.down-content{
					padding-top: 40px;
					p{
						font-size: 18px;
						color: @linkblue;
						font-weight: bold;
						.c6{
							font-size: 26px;
						}
					}
				}
				h3{
					font-size: 20px;
					line-height: 30px;
					margin-bottom: 40px;
					font-weight: bold;
					color: #000;
				}
				p{
					color:#333333;
					font-size: 12px;
					line-height: 20px;
					margin-bottom: 8px;
					.cc4{
						color: #999999;
					}
					.cc5{
						color: red;
						font-weight: bold;
					}
					.bb1{
						color: #1F82E1;
						font-size: 18px;
						font-weight: bold;
					}
					&.ib{
						vertical-align: top; 
						display: inline-block;
					}
					&.ib2{
						width: 220px;
						display: inline-block;
						img{
							height: 64px;
							margin-right: 2px;
							margin-bottom: 2px;
						}
					}
					&.ib2{
						*display: inline;
					}
					&.mr20{
						margin-top: 20px;
					}
					.s{
						font-weight: bold;
					}
					#ally{
						width: 74px;
						height: 22px;
						display: inline-block;
						position: relative;
						top: 6px;
						left: 10px;
						background: url("../img/seeall.png") 0 0 no-repeat;
						&:hover{
							background: url("../img/seeall-hover.png") 0 0 no-repeat;
						}
					}
					#ally{
						*display: inline;
					}
				}
			}
		}
		.frame-status{
			background: white;
			width: 962px;
			height: 200px;
			border-radius: 5px;
			border: 1px solid #ddd;
			margin-bottom: 40px;
			#carousel{
				.c-li{
					display: inline-block;
					width: 320px;
					height: 160px;
					.clearfix;
					p.unactive{
						padding-top: 60px;
						padding-left: 10px;
						color: #ccc;
						font-size: 18px;
						font-weight: bold;
					}
					.c-l{
						width: 90px;
						float: left;
						margin-right: 10px;
						overflow: hidden;
						img{
							width: 90px;
							height: 90px;
						}
						p{
							text-align: center;
							margin-top: 55px;
							color: #1F82E1;
							font-size: 12px;
							font-weight: bold;
						}
					}
					.c-r{
						width: 217px;
						float: left;
						.c-r-t{
							font-size: 18px;
							font-weight: bold;
							color: #333;
							overflow: hidden;
							padding-bottom: 16px;
						}
						.c-r-c{
							color: #6c6c6c;
							font-size: 14px;
							line-height: 20px;
							height: 65px;
							overflow: hidden;
						}
					}
				}
				.cli-1-active{
					background: url("../img/clb-1-a.png") 0 80px no-repeat;
				}
				.cli-1{
					background: url("../img/clb-1.png") 0 80px no-repeat;
				}
				.cli{
					background: url("../img/clb.png") 0 80px no-repeat;
				}
				.cli-active{
					background: url("../img/clb-a.png") 0 80px no-repeat;
				}
				.cli-noactive{
					background: url("../img/clb-d.png") 0 80px no-repeat;
				}
			}

		}
		.frame-main{
			width: 100%;
			margin-bottom: 70px;
			.clearfix;
			.context{
				margin-left: 20px;
				margin-right: 20px;
				width: 604px;
				float: left;
				font-size: 14px;
				.share{
					height: 30px;
					width: 100%;
					margin-bottom: 56px;
					color: #666;
				}
				p{
					text-indent: 28px;
					color:#333;
					margin-bottom: 10px;
					line-height: 20px;
				}
			}
			.pics{
				background-color: white;
				width: 274px;
				padding: 20px;
				float: left;
				overflow: hidden;
				.title{
					font-size: 18px;
					font-weight: bold;
					color: black;
					padding-bottom: 10px;
					border-bottom: solid #eee 1px;
					margin-bottom: 10px;
				}
				p{
					margin-bottom: 10px;
					font-size: 12px;
				}
				img{
					width: 274px;
					margin-bottom: 20px;
				}
			}
		}
		.frame-footer{
			.title{
				width: 100%;
				border-bottom: 1px solid #d7d7d7;
				padding-bottom: 10px;
				margin-bottom: 40px;
				p{
					font-size: 18px;
					color: @linkblue;
					font-weight: bold;
				}
			}
			ul{
				margin-bottom: 40px;
				.clearfix;
				padding-left: 20px;
			}
			li{
				width: 294px;
				margin-left: 20px;
				list-style-position:inside; 
				float: left;
				list-style: disc;
				height: 20px;
				font-size: 14px;
				color:#919191;
				margin-bottom: 6px;
			}
		}
	}
	#floatreturn{
		width: 60px;
		height: 60px;
		background: url("../img/return.png") 0 0 no-repeat;
		display: block;
		position: fixed;
		float: left;
		top: 999px;
		left: 999px;
		&:hover{
			background: url("../img/return-hover.png") 0 0 no-repeat;
		}
	}
}

#page-finish{
	background-color: #F2F2F2;
	min-width: 1280px;
	.fcontainer{
		margin-right: auto;
		margin-left: auto;
		padding-top: 60px;
		width: 962px;
		.clearfix;
		.frame-left{
			width: 630px;
			.clearfix;
			margin-bottom: 22px;
			margin-right: 15px;
			float: left;
			.title{
				font-size: 24px;
				color: black;
				font-weight: bold;
				padding-left: 10px;
				margin-bottom: 20px;
			}
			div.image{
				display: block;
				float: left;
				width: 630px;
				height: 100%;
				overflow: hidden;
				margin-bottom: 38px;
				img{
					border: 0px;
					width: 630px;
					height: 400px;
					border-radius: 5px;
				}
			}
			.content{
				display: block;
				float: left;
				padding: 25px 30px 44px 30px;
				width: 570px;
				border-radius: 5px;
				background-color: white;
				margin-bottom: 20px;
				table{
					width: 570px;
					td{
						font-size: 14px;
						padding-top: 20px;
						padding-right: 5px;
						width: 162px;
						line-height: 18px;
						&.td1{
							color:#999; 
							text-align: right;
							width: 112px;
						}
						.cl54{
							color: #1F82E1;
							font-size: 18px;
							font-weight: bold;
						}
						.cl53{
							color: #f16453;
							font-size: 18px;
							font-weight: bold;
						}
					}
				}
			}
			.share{
				float: left;
				height: 30px;
				width: 100%;
				margin-bottom: 56px;
				color: #666;
			}
			p{
				display: block;
				float: left;
				text-indent: 28px;
				color:#333;
				margin-bottom: 20px;
				line-height: 24px;
			}
		}

		.frame-right{
			float: left;
			width: 316px;
			.clearfix;
			margin-bottom: 22px;
			.title{
				font-size: 24px;
				color: #1F82E1;
				font-weight: bold;
				padding-left: 10px;
				margin-bottom: 20px;
			}
			.sblock{
				background-color: white;
				width: 316px-40px;
				margin-bottom: 30px;
				border: solid 1px #ccc;
				border-radius: 5px;
				color: #6c6c6c;
				padding:20px;
				.ttl{
					text-align: left;
					color: #000;
					font-size: 16px;
					padding-bottom: 14px;
					border-bottom: solid 1px #ccc;
					margin-bottom: 10px;
					font-weight: bold;
				}
				p{
					font-size: 14px;
					padding-top: 10px;
					line-height: 20px;
					margin-bottom: 10px;
				}
			}
			.sbics{
				text-align: center;
				img{
					width: 266px;
					height: 128px;
				}
			}
			.sbstar{
				.clearfix;
				.sbstar-one{
					float: left;
					width: 128px;
					margin: 5px;
					text-align: center;
					color: black;
					img{
						width: 128px;
						height: 128px;
						margin-bottom: 10px;
					}
				}	
			}
			.sbnews{
				ul{
					padding-left: 20px;
					padding-top: 20px;
					li{
						a,a:hover{
							text-decoration: none;
							color: #000;
						}

						list-style-image: url("../img/li-finish.png");
						font-size: 12px;
						line-height: 12px;
						padding-bottom: 14px;
					}
				}

			}
			.slide{
				overflow: hidden;
				ul{
					li{
						width: 260px;
						height: 160px;
						overflow: hidden;
					}
				}
				.proc{
					padding-left: 50px;
					padding-top: 6px;
					height: 154px;
					background: url("../img/vl.png") 0 0 no-repeat;
					.clearfix;
					.p-ttl{
						float: left;
						width: 100px;
						font-size: 16px;
						font-weight: bold;
					}
					.p-date{
						font-size: 10px;
						color: @linkblue;
						float: right;
						margin-top: 6px;
					}
					p{
						float: left;
						color: #A7A7A7;
					}
				}
				.proc-gray{
					background: url("../img/vl-g.png") 0 0 no-repeat;
				}
				.proc-active{
					background: url("../img/vl-cur.png") 0 0 no-repeat;
				}
				.proc-1{
					background: url("../img/vl-1.png") 0 0 no-repeat;
				}
			}
			.profile{
				.clearfix;
				img{
					display: block;
					float: left;
					width: 72px;
					height: 72px;
					margin-right: 20px;
				}
				.name{
					width: 180px;
					float: left;
					font-size: 20px;
					font-weight: bold;
					padding-top: 10px;
					color: black;
				}
				.word{
					width: 180px;
					float: left;
					font-size: 12px;
				}
			}
		}
		
	}
}
.search-div{
	width: 250px;
	height: 30px;
	float: right;
	.clearfix;
	#search-key{
		font-family: @yaheifamily;
		background: url("../img/search.png") 5px 5px no-repeat;
		border: 0;
		padding: 0;
		float: left;
		color: #808080;
		width: 140px;
		height: 28px;
		padding-left: 30px;
		background-color: white;
		border-top: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		border-left: solid 1px #ccc;
	}
	#search-btn{
		font-family: @yaheifamily;
		float: left;
		height: 30px;
		border: 0;
		width: 70px;
		background-color: #1F82E1;
		color: white;
		text-align: center;
		cursor: pointer;
	}
}

.finish-list-nav,
.focus-list-nav{
				.clearfix;
				float: right;
				margin-right: 40px;
				.hnav-a{
					text-align: center;
					width: 14px;
					height: 14px;
					font-size: 14px;
					color: #6c6c6c;
					display: block;
					float: left;
					padding: 6px;
					margin: 2px;
					border: 0;
					text-decoration: none;
					background: url("../img/hnav-a.png") 0 0 no-repeat;
					&.active{
						color: white;
						background: url("../img/bnav-active.png") 0 0 no-repeat;
					}
					&#hnav-prev{
						background: url("../img/hnav-a-prev.png") 0 0 no-repeat;
						&.inactive{
							background: url("../img/hnav-a-prev-i.png") 0 0 no-repeat;
						}
					}
					&#hnav-next{
						background: url("../img/hnav-a-next.png") 0 0 no-repeat;
						&.inactive{
							background: url("../img/hnav-a-next-i.png") 0 0 no-repeat;
						}
					}
				}
}


#page-finish-list{
	background-color: #F2F2F2;
	min-width: 1280px;
	.fcontainer{
		margin-right: auto;
		margin-left: auto;
		padding-top: 60px;
		width: 962px;
		.clearfix;
		.sec-ctrl{
			.clearfix;
			width: 962px;
			height: 50px;
			.filter-select{
				width: 270px;
				float: left;
				font-weight: bold;
				color: #333;
				.filter-s{
					font-family: @yaheifamily;
					color: #808080;
					margin-left: 10px;
					width: 140px;
					height: 28px;
					border: solid 1px #ccc;
				}
			}
		}
		.sec-content{
			width: 962px;
			.clearfix;
			.a-tile{
				float: left;
				width: 300px;
				height: 276px;
				margin: 10px;
				color: #6c6c6c;
				background-color: white;
				font-size: 12px;
				border-radius: 5px;
				box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
				&:hover{
					box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
				}
				img{
					width: 300px;
					height: 150px;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					overflow: hidden;
				}
				.tile-tl{
					color: #000;
					font-size: 18px;
					padding: 12px 20px 16px 20px;
				}
				.tile-desc{
					line-height: 18px;
					padding: 0 20px 10px 20px;
					height: 40px;
					overflow: hidden;
				}
				.tile-btm{
					line-height: 20px;
					color: #000;
					padding: 0 20px 5px 20px;
					.clearfix;
					.g-left{
						float: left;
						height: 20px;
						padding-top: 3px;
						vertical-align: bottom;
					}
					.g-right{
						float: right;
						height: 23px;
						vertical-align: bottom;
						.cl23{
							font-weight: bold;
							font-size: 20px;
							color: #1F82E1;
						}
					}
				}
			}
		}
		.sec-page{
			height: 90px;
			width: 962px;
		}
		
		
	}
}

#page-focus-list{
	background-color: #F2F2F2;
	min-width: 1280px;
	.fcontainer{
		margin-right: auto;
		margin-left: auto;
		padding-top: 60px;
		width: 962px;
		.clearfix;
		.secf-ca{
			width: 962px;
			height: 434px;
			overflow: hidden;
			margin-bottom: 42px;
			.slide{
				border-radius: 5px;
				.clearfix;
				img{
					width: 962px;
					height: 434px;
					border-radius: 5px;
				}
				.sl-info{
					padding: 20px;
					width: 922px;
					position: relative;
					top: -100px;
					z-index: 5;
					.clearfix;
					.date{
						float: left;
						width: 600px;
						font-size: 16px;
						color: white;
						line-height: 20px;
						margin-bottom: 10px;
					}
					.title{
						float: left;
						width: 600px;
						font-size: 26px;
						font-weight: bold;
						color: white;
						line-height: 26px;
						a{
							color: white;
							text-decoration: none;
						}
					}
					.org{
						text-align: right;
						padding-top: 12px;
						width: 300px;
						float: right;
						font-size: 14px;
						color: white;
					}
				}
			}
		}
		.secf-content{
			width: 962px;
			.clearfix;
		}
		.secf-left{
			width: 602px;
			margin-right: 18px;
			float: left;
			border-right: solid 1px #D7D7D7;
			padding-right: 7px;
			.clearfix;
			.fl-title{
				.clearfix;
				padding-left: 20px;
				margin-bottom: 20px;
				height: 30px;
				.fl-title-text{
					float: left;
					width: 150px;
					color: #000;
					font-size: 26px;
					font-weight: bold;
				}
			}
			.fl-tile{
				float: left;
				width: 281px;
				height: 252px;
				margin: 10px;
				color: #6c6c6c;
				background-color: white;
				font-size: 12px;
				border-radius: 5px;
				box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
				&:hover{
					box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
				}
				img{
					width: 281px;
					height: 138px;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					overflow: hidden;
				}
				.tile-tl{
					color: #000;
					font-size: 18px;
					padding: 10px 20px 12px 20px;
				}
				.tile-desc{
					line-height: 16px;
					padding: 0 20px 3px 20px;
					height: 40px;
					overflow: hidden;
				}
				.tile-btm{
					line-height: 20px;
					color: #000;
					padding: 0 20px 15px 20px;
					.clearfix;
					.g-left{
						float: left;
						height: 20px;
						padding-top: 3px;
						vertical-align: bottom;
					}
					.g-right{
						float: right;
						height: 23px;
						vertical-align: bottom;
						.cl23{
							font-weight: bold;
							font-size: 20px;
							color: #1F82E1;
						}
					}
				}
			}
		}
		.secf-right{
			width: 330px;
			float: left;
			.clearfix;
			.fl-title{
				.clearfix;
				padding-left: 20px;
				margin-bottom: 20px;
				height: 30px;
				.fl-title-text{
					float: left;
					width: 150px;
					color: #000;
					font-size: 26px;
					font-weight: bold;
				}
			}
			.flr-tile{
				float: left;
				width: 330px;
				height: 310px;
				margin: 10px 0 10px 0;
				color: #6c6c6c;
				background-color: white;
				font-size: 12px;
				border-radius: 5px;
				box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
				&:hover{
					box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
				}
				img{
					width: 330px;
					height: 172px;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					overflow: hidden;
				}
				.tile-tl{
					color: #000;
					font-size: 18px;
					padding: 12px 20px 20px 20px;
				}
				.tile-desc{
					line-height: 18px;
					padding: 0 20px 15px 20px;
					height: 40px;
					overflow: hidden;
				}
				.tile-btm{
					line-height: 20px;
					color: #000;
					padding: 0 20px 5px 20px;
					.clearfix;
					.g-left{
						float: left;
						height: 20px;
						padding-top: 3px;
						vertical-align: bottom;
					}
					.g-right{
						float: right;
						height: 23px;
						vertical-align: bottom;
						.cl23{
							font-weight: bold;
							font-size: 20px;
							color: #1F82E1;
						}
					}
				}
			}

		}
		.secf-page{
			height: 90px;
			width: 962px;
		}
		#fl-nav{
			width: 200px;
			float: none;
			margin: 10px auto 20px auto;
		}
	}
}

#floatreturn{
		width: 60px;
		height: 60px;
		background: url("../img/return.png") 0 0 no-repeat;
		display: block;
		position: fixed;
		float: left;
		top: 999px;
		left: 999px;
		&:hover{
			background: url("../img/return-hover.png") 0 0 no-repeat;
		}
}

#page-info-list{
	background-color: #F2F2F2;
	min-width: 1280px;
	.fcontainer{
		margin-right: auto;
		margin-left: auto;
		padding-top: 60px;
		width: 962px;
		.clearfix;
		.seci-content{
			width: 962px;
			padding-bottom: 50px;
			.clearfix;
			.seci-col{
				float: left;
				width: 320px;
				.clearfix;
			}
			.i-tile{
				float: left;
				width: 300px;
				margin: 10px;
				color: #6c6c6c;
				background-color: white;
				font-size: 12px;
				border-radius: 5px;
				box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
				&:hover{
					box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
				}
				img{
					width: 300px;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
					overflow: hidden;
				}
				.tile-dt{
					padding: 10px 20px;
				}
				.tile-tl{
					color: #000;
					font-size: 18px;
					padding: 0px 20px 10px 20px;
				}
				.tile-desc{
					line-height: 18px;
					padding: 0 20px 5px 20px;
					height: 40px;
					overflow: hidden;
				}
			}
		}
	}
}

#page-info{
	background-color: #F0F0F0;
	min-width: 1280px;
	.fcontainer{
		margin-right: auto;
		margin-left: auto;
		padding-top: 60px;
		padding-bottom: 50px;
		width: 962px;
		.clearfix;
		.frame-left{
			width: 630px;
			margin-bottom: 22px;
			margin-right: 15px;
			float: left;
			.title{
				font-size: 26px;
				color: black;
				font-weight: bold;
				padding-left: 10px;
				margin-bottom: 20px;
			}
			h5{
				display: block;
				margin-top: 20px;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 10px;
			}
			div.image{
				display: block;
				width: 630px;
				height: 100%;
				overflow: hidden;
				margin-top: 40px;
				margin-bottom: 20px;
				img{
					border: 0px;
					width: 630px;
					border-radius: 5px;
				}
			}
			p{
				display: block;
				text-indent: 28px;
				color:#333;
				padding-bottom: 10px;
				line-height: 24px;
			}
		}

		.frame-right{
			float: left;
			width: 316px;
			.clearfix;
			margin-bottom: 22px;
			padding-top: 65px;
			.sblock{
				background-color: white;
				width: 316px-40px;
				margin-bottom: 30px;
				border: solid 1px #ccc;
				border-radius: 5px;
				color: #6c6c6c;
				padding:20px;
				.ttl{
					text-align: left;
					color: #000;
					font-size: 16px;
					padding-bottom: 14px;
					border-bottom: solid 1px #ccc;
					margin-bottom: 20px;
					font-weight: bold;
				}
				hr{
					height: 0;
					border-bottom: solid 1px #ccc;
					margin-bottom: 20px;
				}
				p{
					font-size: 14px;
					color: #000;
					padding-top: 10px;
					line-height: 20px;
					margin-bottom: 20px;
				}
			}
		}
		
	}
	#floatreturn{
		width: 60px;
		height: 60px;
		background: url("../img/return.png") 0 0 no-repeat;
		display: block;
		position: fixed;
		float: left;
		top: 999px;
		left: 999px;
		&:hover{
			background: url("../img/return-hover.png") 0 0 no-repeat;
		}
	}
}

#icon-green{
		display: block;
		width: 123px;
		height: 123px;
		position: absolute;
		top: 170px;
		left:40px;
		z-index:1000;
		background: url("../img/icon-green.png") 0 0 no-repeat;
}

#page-union{
	background-color: #F2F2F2;
	min-width: 1280px;
	.ucontainer{
		width: 962px;
		padding-top: 36px;
		margin: 0 auto 0 auto;
		height: 3000px;
		.title{
			background: url("../img/union-title.png") 0 0 no-repeat;
			font-size: 30px;
			font-weight: bold;
			color: #e8534f;
			text-align: center;
			margin-bottom: 16px;
			&#title2{
				margin-top: 50px;
				margin-bottom: 40px;
				background: url("../img/union-2-title.png") 0 15px no-repeat;
			}
		}
		.paper{
			width: 826px;
			height: 1030px;
			padding: 60px 68px;
			background: url("../img/paper-bg.png") 0 0 no-repeat;
			p{
				line-height: 170%;
				&.p1{
					color: #3b3b3b;
					font-size: 16px;
					font-weight: bold;
					margin-bottom: 8px;
				}
				&.p2{
					color: #3b3b3b;
					font-weight: bold;
					font-size: 14px;
					margin-bottom: 8px;
				}
				&.p3{
					background: url("../img/list-red.png") 0 5px no-repeat;
					font-size: 14px;
					color: #6c6c6c;
					margin-bottom: 5px;
					padding-left: 20px;
				}
			}
		}
		.sub-title{
			font-size: 24px;
			color: #000;
			padding-left: 20px;
			padding-bottom: 10px;
			border-bottom: solid 1px #ccc;
		}
		.hospitals{
			width: 966px;
			margin: 40px auto 10px auto;
			height: 670px;
			.clearfix;
			.menu{
				width: 160px;
				height: 670px;
				float: left;
				li{
					display: block;
					list-style: none;
					a.htptl-a{
						text-decoration: none;
						display: block;
						height: 40px;
						padding-top: 10px;
						width: 160px;
						color: #999;
						font-size: 16px;
						font-weight: bold;
					}
					a.active{
						color: #e8534f;
					}
				}
			}
			.hsptl-group{
				width: 806px;
				float: left;
				height: 600px;
				background: url("../img/hsptl-bg.png") 13px 0 no-repeat;
				.arrow{
					width: 19px;
					height: 670px;
					float: left;
					background: url("../img/hsptl-arrow.png") 0 2px no-repeat; 
				}
				.hsptl-page{
					float: left;
					width: 262px*3;
					height: 67px*8+10px;
					.clearfix;
					.hsptl{
						width: 222px;
						height: 20px;
						float: left;
						text-align: center;
						padding: 24px 20px 23px 20px;
						line-height: 20px;
						font-size: 18px;
						color: #6c6c6c;
					}
					.hsptl-2l{
						height: 46px;
						padding: 10px 20px 10px 20px;
					}
				}
				.hsptl-nav{
					.clearfix;
					float: right;
					margin-right: 40px;
					.hnav-a{
						text-align: center;
						width: 14px;
						height: 14px;
						font-size: 14px;
						color: #6c6c6c;
						display: block;
						float: left;
						padding: 6px;
						margin: 2px;
						border: 0;
						text-decoration: none;
						background: url("../img/hnav-a.png") 0 0 no-repeat;
						&.active{
							color: white;
							background: url("../img/hnav-active.png") 0 0 no-repeat;
						}
						&#hnav-prev{
							background: url("../img/hnav-a-prev.png") 0 0 no-repeat;
							&.inactive{
								background: url("../img/hnav-a-prev-i.png") 0 0 no-repeat;
							}
						}
						&#hnav-next{
							background: url("../img/hnav-a-next.png") 0 0 no-repeat;
							&.inactive{
								background: url("../img/hnav-a-next-i.png") 0 0 no-repeat;
							}
						}
					}
				}
			}
		}
		.orgs{
			width: 966px;
			margin: 40px auto 10px auto;
			height: 400px;
			.clearfix;
			.org{
				cursor: pointer;
				@org-w:216px;
				@org-h:160px;
				float: left;
				width: @org-w;
				height: @org-h;
				margin: 10px;
				img{
					position: absolute;
					width: @org-w;
					height: @org-h;
					border: 0;
					z-index: 0;
				}
				.mask{
					position: absolute;
					z-index: 20;
					float: left;
					width: 216px-20px;
					height: 160px-40px;
					background: url("../img/mask.png") 0 0 no-repeat;
					padding: 20px 10px 20px 10px;
					.m-title{
						font-size: 18px;
						font-weight: bold;
						border-bottom: solid 1px #eee;
						color: white;
						padding-bottom: 8px;
						margin-bottom: 10px;
					}
					.m-content{
						font-size: 14px;
						color: white;
						line-height: 20px;
					}
				}
			}
		}
		.stars{
			width: 966px;
			margin: 40px auto 10px auto;
			height: 350px;
			.star{
				background-color: white;
				width: 296px-20px;
				height: 120px-20px;
				float: left;
				padding:10px;
				border: solid 1px #ccc;
				margin: 10px;
				img{
					width: 100px;
					height: 100px;
				}
				.s-img{
					float: left;
					width: 104px;
					height: 104px;
					margin-right: 10px;
				}
				.s-title{
					width: 160px;
					float: left;
					font-size: 20px;
					color: #6c6c6c;
					border-bottom: solid 1px #ccc;
					padding-bottom: 5px;
					margin-bottom: 10px;
				}
				.s-content{
					width: 160px;
					float: left;
					font-size: 14px;
					line-height: 20px;
					color: #6c6c6c;
				}
			}
		}
	}
}

#preload-1,#preload-2,#preload-w{
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
